@import "../../../node_modules/slick-carousel/slick/slick.scss";
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
    min-width: 320px;
    margin-right: 20px;
    @include tablets {
        min-width: 730px;
        margin-right: 40px;
    }
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider .slick-arrow.slick-prev {
    background-image: url("../img/slide-arrow-left.svg");
    left: 13px;
    @include desktop {
        background-image: url("../img/slide-arrow-left-desktop.svg");
        left: 1px;
    }
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
    right: 12px;
    background-image: url("../img/slide-arrow-right.svg");
    @include desktop {
        background-image: url("../img/slide-arrow-right-desktop.svg");
        right: 742px;
    }
    @include not-desktop {
        right: 963px;
    }
}

.slider {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 27px;
    @include tablets {
        max-width: 730px;
        margin-bottom: 60px;
    }

    @include desktop {
        max-width: 1236px;
        margin-bottom: 90px;
    }
}
.slider .slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 103px;
    z-index: 10;
    font-size: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablets {
        top: 239px;
    }
    @include desktop {
        width: 42px;
        height: 14px;
        background: transparent;
        top: 97.9%;
    }
}

.slider .slick-disabled {
    opacity: 0.4;
}

.slider__item {
    text-align: center;
    display: flex;
}

.slider .slick-dots li {
    @include desktop {
        list-style: none;
        margin-right: 18px;
        cursor: pointer;
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}

.slider .slick-dots {
    display: none;
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 96.9%;
        left: 71px;
    }
}
.slider .slick-dots button {
    @include desktop {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
    }
}

.slider .slick-dots li.slick-active button {
    @include desktop {
        background-color: $white-opacity-light;
    }
}

.slider__item-link {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $white-opacity-light;
    font-family: "Yeseva One";
    margin-right: 60px;
    position: relative;
    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.slider__item-link-block {
    @include phones {
        display: none;
    }
    @include desktop {
        display: block;
        margin-bottom: 49px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 54px;
    }
}

.slider__item-link-active {
    color: $gold;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        transform: translate(0, 0) rotate(360deg);
        background-color: #e3b873;
        position: absolute;
        /* right: 16px; */
        border-radius: 30px;
        top: 22px;
    }
}
