// Colors
$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.3);
$grey-opacity: rgba(54, 54, 54, 0.5);
$grey-opacity-light: rgba(54, 54, 54, 0.3);
$white: #ffffff;
$extra-light-black: #283645;
$extra-light-black-opacity: rgba(40, 54, 69, 0.3);
$extra-light-black-opacity-middle: rgba(40, 54, 69, 0.5);
$white-opacity-light: rgba(255, 255, 255, 0.3);
$white-opacity: rgba(255, 255, 255, 0.5);
$white-border-form: rgba(255, 255, 255, 0.15);
$body-color: #f3f3f3;
$gold: #e3b873;
$gold-intens: #daa44d;
$gold-dark: #b38c4e;
$light-black: #131313;
$h1-black: #181818;
$grey: #959595;
$price-black: #363636;

// Viewports

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 659px;
$mobile-width: 320px;

//mobile mixin
@mixin not-desktop {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin not-desktop {
  @media screen and (min-width: 1199px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin phones {
  @media screen and (min-width: $mobile-width) {
    @content;
  }
}

// retina mixin
@mixin retina {
  @media screen and (min-resolution: 2dppx) {
    @content;
  }
}
